<main class="container-fluid users-show">
  <div class="row user-profile">
    <div class="user">
          <div class="user-content">
            <img class="user-image" ng-src="{{usersShow.user.imageSRC}}" alt="{{usersShow.user.name}}">
          <h2 class="user-heading"><span class="edit-icon"> {{usersShow.user.name}}</span></h2>
          <p ng-if="main.isAuthenticated() && main.getCurrentUserId() === usersShow.user.id">email: {{usersShow.user.email}}<br>
          age: {{usersShow.user.age}}<br>
          riding: {{usersShow.user.riding}}<br>
          bike type: {{usersShow.user.bikeType}}<br>
          bio: {{usersShow.user.bio}}</p>
          <div class="buttons" ng-if="main.isAuthenticated() && main.getCurrentUserId() === usersShow.user.id">
            <a id="edit" ui-sref="usersEdit({ id: usersShow.user.id })" class="edit button">Edit</a>
            <button ng-click="usersShow.delete()" class="button delete">Delete</button>
          </div>
        </div>
    </div>

    <div class="user-info">
      <div class="row">
        <h2 class="info-heading">My Rides</h2>
        <p ng-if="usersShow.user.rides.length === 0">You have not created any routes</p>

        <div ng-repeat="ride in usersShow.user.rides">
          <h4><a href="#" ui-sref="ridesShow({ id: ride.id })">{{ ride.name }}</a></h4>
          <static-map ride-info="ride" size="200x200"></static-map>
        </div>
      </div>
      <div class="row">
        <h2 class="info-heading">Joined Rides</h2>
        <p ng-if="usersShow.user.ridesJoined.length === 0">You have not joined any routes</p>
        <div class="rides-block">
          <div ng-repeat="ride in usersShow.user.ridesJoined">
            <h4><a href="#" ui-sref="ridesShow({ id: ride.id })">{{ ride.name }}</a></h4>
            <static-map ride-info="ride" size="200x200"></static-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<div ng-include="'./js/views/partials/_footer.html'"></div>
