<div class="users-show">


  <main class="container">
    <div class="row user-profile">
      <div class="col-md-6 user">
        <div class="row ">
          <div class="col-sm-6">
            <img class="page-curl shadow-bottom" ng-src="{{usersShow.user.imageSRC}}" alt="{{usersShow.user.name}}">
          </div>

          <div class="col-sm-6">

            <h2 class="user-heading"><span class="edit-icon"><a ui-sref="usersEdit({ id: usersShow.user.id })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span> {{usersShow.user.name}}</h2>

            <p>email: {{usersShow.user.email}}</p>
            <p>age: {{usersShow.user.age}}</p>
            <p>riding: {{usersShow.user.riding}}</p>
            <p>bike type: {{usersShow.user.bikeType}}</p>
          </div>
          <p class="bio">bio: {{usersShow.user.bio}}</p>
        </div>
      </div>
      <div class="col-md-6 user">
        <h2>History</h2>
      </div>

    </div>
  </main>
</div>
