<div class="bike">
  <div class="prt frame">
    <div class="bar left-top"></div>
    <div class="bar left-bottom"></div>
    <div class="bar lft"></div>
    <div class="bar top"></div>
    <div class="bar bottom"></div>
    <div class="bar rght"></div>
  </div>
  <div class="prt sadle">
    <div class="sit-here"></div>
    <div class="sadlepen"></div>
  </div>
  <div class="prt handlebar">
    <div class="stem"></div>
    <div class="connector"></div>
    <div class="prehandle"></div>
    <div class="handle"></div>
  </div>
  <div class="prt pedals">
    <div class="inside"></div>
    <div class="outside"></div>
    <div class="pedalstem front">
      <div class="pedalbase front"></div>
    </div>
    <div class="pedalstem back">
      <div class="pedalbase back"></div>
    </div>
  </div>
  <div class="prt bike-wheel lft">
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
  </div>
  <div class="prt bike-wheel rght">
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
  </div>
  <div class="prt bike-axis lft"></div>
  <div class="prt bike-axis rght"></div>
</div>

<div class="bike bike-two">
  <div class="prt frame">
    <div class="bar left-top"></div>
    <div class="bar left-bottom"></div>
    <div class="bar lft"></div>
    <div class="bar top"></div>
    <div class="bar bottom"></div>
    <div class="bar rght"></div>
  </div>
  <div class="prt sadle">
    <div class="sit-here"></div>
    <div class="sadlepen"></div>
  </div>
  <div class="prt handlebar">
    <div class="stem"></div>
    <div class="connector"></div>
    <div class="prehandle"></div>
    <div class="handle"></div>
  </div>
  <div class="prt pedals">
    <div class="inside"></div>
    <div class="outside"></div>
    <div class="pedalstem front">
      <div class="pedalbase front"></div>
    </div>
    <div class="pedalstem back">
      <div class="pedalbase back"></div>
    </div>
  </div>
  <div class="prt bike-wheel lft">
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
  </div>
  <div class="prt bike-wheel rght">
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
    <div class="bike-spoke"></div>
  </div>
  <div class="prt bike-axis lft"></div>
  <div class="prt bike-axis rght"></div>
</div>
