<main class="fade-in ">
  <header id="hero">
    <h1>tandem</h1>
  </header>
  <div class="hero"></div>
  <div class="description">
    <div>
      <h1>The sociable cycling app.</h1>

    </div>
  <p class="home-text">At Tandem, help create a fun cycling community within London <br>
    Plan out, adjust share your commute or leisurely cycle and join other routes! <br>
    Set waypoints with google places for a break mid cycle to have a nice chat and possibly a cheeky smoothie.<br>
    Customise your profile and chat to your cycle buddies on your routes.
    <br>
    Get involved in the fun and
    <span ng-if="!main.isAuthenticated()"><a ui-sref="register" >join</a> us</span>
    <span ng-if="main.isAuthenticated()">share your favorite routes</span>
  </p>
</div>
  </div>
</main>
<div ng-include="'./js/views/partials/_footer.html'"></div>
