<main  class="fade-in">


  <header id="hero">
    <h1>tandem</h1>
    <!-- <a class="home-icon" ng-if="!main.isAuthenticated()" ui-sref="register"><i class="fa fa-bicycle" aria-hidden="true"></i><br><span class="register-icon">Register</span></a>
    <p class="arrow">More...<br> <i class="fa fa-arrow-down" aria-hidden="true"></i></p> -->

  </header>
  <div class="hero">


    <!-- <div class="pause">

  </div> -->
  <div class="bike">
    <div class="part frame">
      <div class="bar left-top"></div>
      <div class="bar left-bottom"></div>
      <div class="bar left"></div>
      <div class="bar top"></div>
      <div class="bar bottom"></div>
      <div class="bar right"></div>
    </div>
    <div class="part sadle">
      <div class="sit-here"></div>
      <div class="sadlepen"></div>
    </div>
    <div class="part handlebar">
      <div class="stem"></div>
      <div class="connector"></div>
      <div class="prehandle"></div>
      <div class="handle"></div>
    </div>
    <div class="part pedals">
      <div class="inside"></div>
      <div class="outside"></div>
      <div class="pedalstem front">
        <div class="pedalbase front"></div>
      </div>
      <div class="pedalstem back">
        <div class="pedalbase back"></div>
      </div>
    </div>
    <div class="part wheel left">
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
    </div>
    <div class="part wheel right">
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
    </div>
    <div class="part axis left"></div>
    <div class="part axis right"></div>
  </div>

  <div class="bike bike-two">
    <div class="part frame">
      <div class="bar left-top"></div>
      <div class="bar left-bottom"></div>
      <div class="bar left"></div>
      <div class="bar top"></div>
      <div class="bar bottom"></div>
      <div class="bar right"></div>
    </div>
    <div class="part sadle">
      <div class="sit-here"></div>
      <div class="sadlepen"></div>
    </div>
    <div class="part handlebar">
      <div class="stem"></div>
      <div class="connector"></div>
      <div class="prehandle"></div>
      <div class="handle"></div>
    </div>
    <div class="part pedals">
      <div class="inside"></div>
      <div class="outside"></div>
      <div class="pedalstem front">
        <div class="pedalbase front"></div>
      </div>
      <div class="pedalstem back">
        <div class="pedalbase back"></div>
      </div>
    </div>
    <div class="part wheel left">
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
    </div>
    <div class="part wheel right">
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
      <div class="spoke"></div>
    </div>
    <div class="part axis left"></div>
    <div class="part axis right"></div>
  </div>
</div>
<div class="description">


  <p>welcome to the innovative cycle ride sharing app <br>
    <span ng-if="!main.isAuthenticated()"><a ui-sref="register" >join</a> us</span>
    <span ng-if="main.isAuthenticated()">share your favorite routes</span></p>

  </div>
  <div class="footer">

    <h4 class="footer-headline">the best routes are the ones you haven't ridden</h4>
    <footer>
      <div >


        <div class="hexagon">
        </div>
        <div class="hex rectangle">

        </div>
      </div>
      <div>
        <div id="burst-12">
        </div>
        <div class="burst rectangle">

        </div>
      </div>
      <div >
        <div class="hexagon">
        </div>
        <div class="hex rectangle">

        </div>
      </div>
    </footer>
  </div>
</main>
