<main class="fade-in ">
  <header id="hero">
    <h1>tandem</h1>
  </header>
  <div class="hero"></div>
  <div class="description">
    <div class="">
      <h1>  The sociable cycling app.</h1>

    </div>
    <p class="home-text">Our aim at Tandem is to make London totally cycling friendly! <br>
      You can share your route whether it\'s a commute or a leisurely cycle and invite others to join you or join in on an already exisiting route!. <br>
      bla bla bla <br>
      bla bla bla <br>
      bla bla bla
      <span ng-if="!main.isAuthenticated()"><a ui-sref="register" >join</a> us</span>
      <span ng-if="main.isAuthenticated()">share your favorite routes</span>
    </p>
  </div>
</main>
