<div class="container-fluid new-ride">

  <h2>Create a new Ride</h2>
  <!-- newRide.startPoint {{ridesNew.newRide.startPoint}}
  newRide.endPoint {{ridesNew.newRide.endPoint}} -->
  <div class="form-wrapper">

    <form ng-submit="ridesNew.add()">
      <div class="form-group">
        <label for="ride-name">Name of Ride</label>
        <input class="form-control" type="text" ng-model="ridesNew.newRide.name" required>
      </div>

      <div class="form-group">
        <label for="startPointInput">Enter rough starting position (it can be changed later)</label>
        <br>
        <input class="form-control" autocomplete ng-model="ridesNew.newRide.startPoint" id="start" required>
      </div>

      <div class="form-group">
        <label>Enter rough finishing position (can be changed later)</label>
        <br>
        <input class="form-control" autocomplete ng-model="ridesNew.newRide.endPoint" id="end" required>
      </div>
      <button class="button">Submit</button>
    </form>
  </div>
</div>
<div ng-include="'./js/views/partials/_footer.html'"></div>
