<h1>This is the rides create page!</h1>

{{ridesNew.newRide}}

<form ng-submit="ridesNew.add()">
  <div>
    <label for="startPointInput">Enter rough starting position (it can be changed later)</label>
    <br>
    <label for="startPointLat">Lat:</label><input id="startPointLat" type="number" step="0.0001" ng-model="ridesNew.newRide.startPoint.lat">
    <label for="startPointLng">Lng:</label><input id="startPointLng" type="number" step="0.0001" ng-model="ridesNew.newRide.startPoint.lng">
  </div>

  <div>
    <label>Enter rough finishing position (can be changed later)</label>
    <br>
    <label for="endPointLat">Lat:</label><input id="endPointLat" type="number" step="0.0001" ng-model="ridesNew.newRide.endPoint.lat">
    <label for="endPointLng">Lng:</label><input id="endPointLng" type="number" step="0.0001" ng-model="ridesNew.newRide.endPoint.lng">
  </div>

  <button>Submit</button>
</form>
