a#user-button.button{
  height: 50px;
}
.button {
  background-color: $brand;
  border: 0;
  color: white;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: 16px;
  &:hover {
    background-color: darken($brand, 5%);
  }
}
