.buttons{
  height: 50px;
  display: flex;
  align-content: center;
  padding-left: 10px;
  a#user-button.button{
    height: 34px;
    display: inline-block;
    margin-bottom: -1vh;
    padding-left: 10px;
    padding: 6px 12px;
    margin-left: 10px;
    width: 80px;
    text-align: center;
    &:hover {
      background-color: darken($brand, 5%);
      color: white;
    }
  }
  .button{
    width: 80px;
  }
}
.button {
  background-color: $brand;
  border: 0;
  color: white;
  height: 34px;
  border-radius: 4px;
  transition: all 0.3s ease;
  font-size: 16px;
  &:hover {
    background-color: darken($brand, 5%);
  }
}
.delete{
  background-color: $delete;
  &:hover {
    background-color: darken($delete, 10%);
  }
}
#edit{
  background-color: $edit;
  text-align: center;
  line-height: 34px;
  &:hover{
    background-color: darken($edit, 2%);
    color: $white;
  }
}
.media-body {
  display: inline-block;
}
.delete-comment{
  display: inline-block;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  border: none;
  color: $white
}
