.fade-in {

  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration:1.3s;
  animation-delay: 1s;
  // display: none;

  background-color: $whiteSpace;
  #hero{
    background-image:  url('../images/chris-lawton.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 34.5vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      padding-bottom: 2vh;
      color: $whiteSpace;
      font-size: 16vh;
      font-weight: lighter;
      text-shadow: 1px 1px 1px lighten($navFont, 30%);
    }
  }


}
.description{
  width: 100vw;
  height: 22vh;
  background-color: $whiteSpace;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: lighten($navFont, 12%);
}
footer{
  width: 100%;
  height: 36vh;
  background-color: lighten($navFont, 12%);
  width: 100vw;
  .footer-headline{
    margin: 0;
    text-align: center;
  }
  .shapes{
    display: flex;
    justify-content: space-around;
  }

}
.hexagon {
  width: 100px;
  height: 55px;
  background: gray;
  position: relative;
}
  .hexagon:before {
    content: "";
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid gray;
  }
  .hexagon:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid gray;
  }

#burst-12 {
  background: gray;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  z-index: 2;
  margin-top: 2vh;
}
#burst-12:before, #burst-12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: gray;
}
#burst-12:before {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}
#burst-12:after {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}
.rectangle {
  width: 50px;

  background: gray;
  z-index: 1;
  position: absolute;
  bottom: 0;
}
.hex{
  margin-left: 26px;
  margin-top: 2vh;
  height: 24vh;
}
.burst.rectangle {
  margin-left: 14px;
  height: 22vh;
}
