.fade-in {

  opacity:0;  /* make things invisible upon start */
  animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

  animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

  animation-duration:1.3s;
  animation-delay: 1s;
  // display: none;

  background-color: $whiteSpace;
  #hero{
    background-image:  url('../images/chris-lawton.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
      margin: 0;
      color: $white;
      font-size: 16vh;
      font-weight: lighter;
      text-shadow: 1px 1px 1px lighten($navFont, 30%);
    }
  }
}
.description{
  width: 100vw;
  background-color: $white;
  font-size: 16px;
  text-align: center;
  height: auto;
  color: lighten($navFont, 12%);
  h1{
    margin: 0;
    border-top: 4vh solid $white;
    padding-bottom: 20px;
  }
}
footer{
  height: 5vh;
}
