.container-fluid.index{
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 95vh;
  #indexmap  {
    height: 95vh;
    width: 80vw;


  }

  .weather {
    width: 20vw;
    height: 27vh;
    border-bottom: 2px solid grey;
    h4{
      margin-top: 0;
    }
    p{
      margin-bottom: 0;
      padding: 5px;
    }
  }

  aside{
    overflow: scroll;
    height: 68vh;
    width: 20vw;
  }
}

.map-image {
  border-radius: 50%;
  height: 10vh;
  width: 6vw;
}
#icon {
  height: 40px;
  width: 40px;
}
