.users-show{
  background-color: $whiteSpace;
  height: 93vh;
  .user-profile{
    display: flex;
    justify-content: space-around;
    .user{
      margin: 8vh 0;
      height:75vh;
      background: $vertical;
      width: 30%;
      border-radius: 8px;
      border:$border;
      box-shadow:$boxShadow;
      display: flex;
      overflow-wrap: break-word;
      overflow: scroll;
      h2{
        margin-top: 0;
        padding-left: 10px;

      }
      p{
        display: block;
        padding-left: 10px;
      }
      .buttons{
        padding-left: 10px;
        a{
          padding: 6px 12px;
          margin-left: 10px;
        }
      }
    }
    .user-info{
      @extend .user;
      overflow: scroll;
      width: 45%;
      display: flex;
      justify-content: space-around;
      .row{
        display: flex;
        flex-direction: column;
      }
    }



    .bio{
      width: 80%;
    }
  }
}
.user-image{
  box-shadow:$boxShadow;
  width: 150px;
  height: 150px;
}

.info-heading{
  margin-top: 1vw;
  display: inline-block;
}
