.users-show{
  background-color: lightBlue;
  height: 90vh;
  .user-profile{
    display: flex;
    justify-content: space-around;
    h2{
      margin-top: 0;
    }
    .user{
      margin: 8vh 0;
      height:75vh;
      background-color: white;
      width: 45%;
      border-radius: 8px;
      padding: 0;
    }
    .user-image{
      margin-left:-2vh;
      margin-top: -2vh;
    }
    .user-heading{
      margin-left: -2vw;
    }
    .edit{
      margin-left: -18vw;

    }
    .bio{
      width: 80%;
      margin-left: 3vw;
    }
    // .user-info{
    //   height: 85vh;
    //   overflow: scroll;
    // }
  }

}
