.users-show{
  background-color: $whiteSpace;
  height: 90vh;
  .user-profile{
    display: flex;
    justify-content: space-around;
    .user{
      margin: 8vh 0;
      height:75vh;
      background-color: $lightgrey;
      width: 30%;
      border-radius: 8px;
      padding: 0;
      border: $grey 1px solid;
      box-shadow: 0 2px 1px #777;
      h2{
        margin-top: 0;
      }
    }
    .user-info{
      .info-heading{
        margin-top: 1vw;
      }
      @extend .user;
      overflow: scroll;
      width: 50%;
      display: flex;
      justify-content: space-around;
      .row{
        display: flex;
        flex-direction: column;
      }
    }
    .user-image{
      margin-left:-2vh;
      margin-top: -2vh;
    }
    .user-heading{
      margin-left: -2vw;
    }
    .edit{
      margin-left: -18vw;
    }
    .bio{
      width: 80%;
      margin-left: 3vw;
    }
  }
}
