$navFont: rgba(52,52,51,.85);
$primary: rgb(253, 253, 253);
$whiteSpace: rgb(167, 255, 219);
$black: #000;
$white: #fff;
$darkgrey: #333;
$grey: #999;
$lightgrey: #dadada;
$brown: #8D5852;
$darkbrown: #522917;
$green: #799753;
$yellow: #E8BF56;
$time: 2s;
$time2: 1.5s;
$brand: #6fce73;
