$navFont: rgba(52,52,51,.85);
$whiteSpace: rgb(167, 255, 219);
$black: #000;
$darkgrey: #333;
$grey: #999;
$lightgrey: #dadada;
$brown: #8D5852;
$darkbrown: #522917;
$green: #799753;
$yellow: #E8BF56;
$time: 2s;
$time2: 1.5s;
$brand: #6fce73;
$white: rgb(253,253,253);
$time: 2.5s;
$time2: 2s;
$vertical: linear-gradient(to right, $white, darken($white, 4%) 50%, $white 100%);
$boxShadow: 0 2px 1px #777;
$border: 1px $lightgrey solid;
