// Import all of your scss files here
// @import 'vendor/reset.scss';
@import "variables";
@import "bike";
@import "navbar";
@import "home";
@import "usersShow";
@import "index";
@import "buttons";
@import "ridesShow";
@import "errors";
@import "register";
@import "forms";
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

body{
  line-height: 1.4;
  transition: opacity 3s ease-in;
  font-size: 16px
}

.container.rides-show {
  height: auto;
}

img{
  width: 100%;
  border-radius: 4px;
}

a {
  color: $brand;
  transition: all 0.3s ease;
  &:hover, &:focus {
    color: darken($brand, 10%);
    text-decoration: none;
  }
}
