// Import all of your scss files here
@import "reset";
@import "variables";
@import "navbar";
@import "home";
@import "usersShow";

.google-map {
  height: 600px;
  width: 600px;
  display: block;
}

.editable-map {
  height: 600px;
  display: block;
  border: 5px solid blue;
}

.map-holder {
  height: 600px;
  max-width: 600px;
  display: block;
  border: 5px solid red;
}

#indexmap  {
  height: 500px;
  width: 800px;
  display: block;
  margin: 0 auto;
}
img{
  width: 100%;
  border-radius: 4px;
}
